<div class="content">
  <div class="blog">
    <div class="image">
      <img
        src="https://cdn.pixabay.com/photo/2024/05/22/03/10/clouds-8779574_640.jpg"
      />
    </div>
    <div class="info">
      <div class="categori">TECHOLOGY</div>
      <div class="infos">
        <div class="title">How I Build Web Development Challenges Website</div>
        <div class="desc">
          If you're looking for inspiration to build your own side project ..
        </div>
        <div class="profil">
          <div class="pp">
            <img
              src="https://cdn.pixabay.com/photo/2024/06/22/23/01/boy-8847075_640.jpg"
            />
          </div>
          <div class="profilbis">
            <div class="name">Corey Lubin</div>
            <div class="co">4 h ago</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
